.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
}

.numeroOrden {
    display: block;
    margin: 2rem;
    padding: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #e2cba2;
    margin-top: 2px;
    border-radius: 10px;
    color: black;
    font-weight: bold;

}

.id{
    background-color: #1D345D;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    width: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 15px;

}

.productoCheckout{
    font-weight: bold;
    color: #1D345D;
}

.info{
    background-color:#e2cba2;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    max-width: 620px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 25px;
}

.miBtn4 {
    background-color: #1D345D;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 15px;
    text-align: center !important;
}

.miBtn:hover{
    background-color:#E48D7A ;
}